In [4]:
import pandas as pd

In [5]:
#lendo csv
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [6]:
#lendo excel
#2 abas (worksheets)

#leitura do arquivo todo
excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")

In [7]:
#leitura da primeira aba (sheet 1)
#dados numericos com separador decimal = "."
df2 = pd.read_excel(excel_file, sheet_name="Sheet1")
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [8]:
#leitura da segunda aba (sheet 2)
#dados numericos com separador decimal = "."
df3 = pd.read_excel(excel_file, sheet_name="Sheet2", decimal=",")
df3

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [9]:
# 3 primeiras linhas
n = 3
df.head(3)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [10]:
#df dtypes
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [11]:
# 3 ultimas linhas
n = 3
df.tail()

         date  temperatura classification
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [12]:
#estatistica basica
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [13]:
#dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [14]:
#nomes das  colunas
df.columns

Index(['date', 'temperatura', 'classification'], dtype='object')

#indexação

In [15]:
df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

In [16]:
#seleção de coluna
df['date']

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
Name: date, dtype: object

In [17]:
#type
type(df['date'])

pandas.core.series.Series

In [18]:
#seleção de colunas
df[['date', 'classification']]

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio

In [19]:
#indexação por indice
#selecionando todas as linhas e a coluna 1
#coluna 1: temperatura
df.iloc[:,1]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [20]:
#indexação por nome
#selecionando todas linhas e a coluna 1
df.loc[:,'temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [21]:
#indexação por nome de multiplas colunas
df.loc[:, ['temperatura', 'classification']]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [22]:
#indexação por nome de multiplas colunas
df.loc[:'temperatura':]

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [23]:
df.iloc[:,1:3]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [29]:
#indexação booleana

In [27]:
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [28]:
#mudando tipo da coluna date
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [30]:
#setando index
df = df.set_index('date')

In [31]:
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [32]:
df.head()

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel

In [33]:
#indexação booleana
#seleção de acima de 25 graus 
df[df['temperatura']>= 25]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [35]:
#indexação booleana
df[df.index <= '2020-03-01']

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [36]:
#indexação booleana
df.loc[df.index <= '2020-03-01',['classification']]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente

In [39]:
df.loc[df.index <= '2020-03-01', ['classification']]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente